---
layout: default
title: Junyi Li | Collaborators
picture: teaching
member-in-seminer:
  -
    name: Green Lv
    img: edi
    url: http://homepages.inf.ed.ac.uk/s1459276/
    <!-- url: https://nbogoychev.com -->
    tagline: PhD student, 中科院
    description: >
      Computer science

phd-students-first:
  -
    name: Nikolay Bogoychev
    img: nbogoychev
    url: https://nbogoychev.com
    tagline: PhD student, University of Edinburgh
    description: >
      Machine translation
  -
    name: Sorcha Gilroy
    img: sgilroy
    url: http://homepages.inf.ed.ac.uk/s1459276/
    tagline: PhD student, University of Edinburgh. MSc, University of Edinburgh,  2015.
    description: >
      Probabilistic models of graphs
  -
    name: Naomi Saphra
    img: nsaphra
    url: http://nsaphra.github.io/ 
    tagline: PhD student, University of Edinburgh. MSc, Johns Hopkins University, 2015.
    description: >
      Deep learning and social media
  -
    name: Clara Vania
    img: cvania
    url: https://claravania.github.io/
    tagline: PhD student, University of Edinburgh. MSc, University of Edinburgh, 2015.
    description: >
      Deep learning and morphology
  - 
    name: Sameer Bansal
    img: sbansal
    url: http://homepages.inf.ed.ac.uk/s1444673
    tagline: "PhD student, University of Edinburgh (primary supervisor: Sharon Goldater)."
    description: Low-resource speech translation 
  -
    name: Federico Fancellu
    img: fancellu
    url: http://homepages.inf.ed.ac.uk/s1260346/index.html
    tagline: "PhD student, University of Edinburgh (primary supervisor: Bonnie Webber)."
    description: Computational models of negation
  -
    name: Andreas Grivas
    img: edi
    url: http://homepages.inf.ed.ac.uk/s1459276/
    tagline: MSc 2017, University of Edinburgh. Now at Mudano.
    description: Dependency parsing of morphologically rich languages
  -
    name: Yova Kementchedjhieva
    img: edi
    tagline: MSc 2017, University of Edinburgh. Now PhD student at University of Copenhagen.
    description: Visualizing and understanding linguistic properties learned by neural networks
---
<div class="page-header">
  <h3>Collaborators</h3>
<blockquote><i>Much have I learned from my teachers, more from my colleagues, but most from my students. <br/>&mdash;Talmud</i></blockquote>
</div>

<h4>Member of seminer</h4>

{% include collaborator.html people=page.member-in-seminer show=true %}

<h4>Former collaborators</h4>

{% include collaborator.html people=page.phd-students-first show=true %}


<!-- <h4>Master's and undergraduate project students</h4>
{% include collaborator.html people=page.project-students show=false %}
 -->
<!-- <h4>Alumni</h4>
{% include collaborator.html people=page.former-students show=false %} -->

<!-- <h4>Collaborators past and present</h4>
{% include collaborator.html people=page.collaborators show=false %} -->

<br/>
I am conservative about who I add to this list.
It includes coauthors and student collaborators.
If your information is out of date, please get in touch.