---
layout: default
title: Junyi Li | CV
picture: junyi-bettle
before-pubs:
  -
    heading: Appointments
    items:
      -
        title: NLP Algorithm Engineer
        year: 2018.1 &ndash; present
        detail: Meituan-Dianping
      -
        title: AI Internship
        year: 2017.10 &ndash; 2017.12
        detail: Laiye
      -
        title: Technical analyst (Part-time)
        year:  2017.1 &ndash; 2017.9
        detail: 机器之心海外部-Synced (England)
  -
    heading: Education
    items:
      -
        title: M.S
        year: 2016 – 2017
        detail: University of Edinburgh, School of Informatics.
      -
        title: B.S
        year: 2012 - 2016
        detail: Hunan University, College of Computer Science and Electronic Enineering
  -
    heading: Personal Material
    items:
      -
        title: 个人简历
        year: 2018.5
        detail: <a href="https://github.com/DukeEnglish/DukeEnglish.github.io/tree/master/Resume">个人简历</a>
      -
        title: 毕业设计
        year: 2017.8
        detail: <a href="https://github.com/DukeEnglish/DukeEnglish.github.io/blob/master/Resume/language-model-gpu.pdf">Lanuage on GPU</a>
---

<div class="page-header">
  <h3>Junyi Li</h3>
</div>

{% include cv-list.html categories=page.before-pubs %}


<!-- <h4>Publications</h4>
{% include paper-list.html venue='journal' heading='Journals' %}
{% include paper-list.html venue='conference' heading='Conferences and Transactions' %}
{% include paper-list.html venue='workshop' heading='Workshops and Demonstrations' %}
{% include cv-list.html categories=page.after-pubs %} -->


