---
layout: default
title: Junyi Li
picture: lijunyi
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>Junyi Li</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        NLP Algorithm Engineer<br/>
        Institute of Artificial technology<br/>
        Wangjing international research center<br/>
        Meituan-dianping<br/>
        
      <a href="mailto:lijunyi04@meituan.com"><span class="glyphicon glyphicon-envelope"></span></a>lijunyi04@meituan.com<br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:ljyduke@gmail.com"><span class="glyphicon glyphicon-envelope"></span></a>ljyduke@gmail.com<br/>
      Wechat: 547160794<br/>
      <a href="tel:+86-13603542466"><span class="glyphicon glyphicon-phone"></span>+86 13603542466</a><br/>
      <a href="https://www.linkedin.com/in/%E4%BF%8A%E6%AF%85junyi-%E6%9D%8Eli-297465132/" target="_blank">Linkedin</a><br/>

      <!-- <a href="http://scholar.google.com/citations?user=u4sxKZwAAAAJ">
        <img src="img/ico/gs.png" alt=""/>
      </a> Google Scholar<br/> -->
      <a href="http://github.com/dukeenglish">
        <img src="img/ico/github_icon.png" alt=""/> http://github.com/dukeenglish
      </a> 
    </div>
  </div>
</div>

<p>
I am working at meituan-dianping (美团点评) now. Feel free to contact me via wechat: 547160794. I am open to make friends with you. :D
</p>

<div id="content">
  <h4>Current state</h4>
    <ul>
        <li>退潮时可以去水边卖泳裤</li>
        <li>成为一个使身边的人更好的人</li>
        <li>我以前总想着我能够从我做的事情中收获什么，我现在总想，我做的事情别人能够收获什么。忽然想起，赠人玫瑰，手有余香。可能我还是一个自私的人吧。</li>
        <li>我想要成为一个可以让身边的人变得更好的人</li>
    <li>一心走天下，</li> 
    <LI>不可作奸犯科，虽不一定能造福社会，拯救苍生</LI>
      <li>长期有耐心</li>
      <li>如何摧毁一个人</li>
      <li>你要成为怎样的人取决于你想成为怎样的人</li>
    <li>学习NLPML的课程</li>
    <li>名人名言那么多，每一个人我就选择他最有价值的一句话。理论上就足够受用了。一个人的精华90%都在一句话，剩下的，是为了凑够一部自传或者一部名言名言</li>
    <li>例如我们既然要分享就应该做有价值的分享，如果自己的分享不能够让自己满意，那么最好直接写blog就好了，没有必要分享。分享的目的除了将自己的经验分享给别人以外，还是一个很好的自我提升，可以和别人交流。交流的基础是自己会，不然怎么交流。总不能都让别人给自己指出各种问题，当然这个也是很重要的一个点</li>
  <li>想法：可以试着整理一份文字材料为ML课程，有木有小伙伴愿意一起来做。建立一份中文版本的</li>
  <li>其实没有谁能够为你出主意，我也没有兴趣听你对我指手划脚，除非你真的很了解我。我来请教你，或者有幸有人来询问我的意见，只想知道每个人对自己的事情进行规划。如果更好的能够告诉我个人是基于什么原则或者基于什么样的考量来作出每一个决策，那是更好的。我想要的就是每个人光鲜亮丽的背后，那一份最普通的，最直接的优化目标和优化算法。所以如果想要更好的帮助别人，最好的方式就是做好自己，然后告诉别人自己是如何做的。</li>
  <li>无论对错，一定要有决策。解释一下，就是给个DDL，到时间就定了，别拖着</li>
  <li>学会死亡，你就学会活着---最后14堂星期二的课</li>
  <li>人这一生只能成为一种人，因为你只能活一次</li>
  <li>我有一个梦想，就是和相爱的人一起拥有自己的家，并且没有物质担忧，为此我愿付出一切～～～给全天下的孩子们一个希望～～不管你原来是什么样，不管你经历过什么，你在未来总会得到你想要的：）</li>
  <li>虽然不知道什么可以真实的帮助到别人，但是我固执地觉得教育是可以帮助到别人最直接的一条路了。当然，心理学是辅助</li>
  <li>物质上，未来财务自由而努力～</li>
  <li>Be calm. Please.</li>
  <li>Be calm and carry on.</li>
    </ul>

<div id="content">
  <h4>Thoughts</h4>
    <ul>
    <li>Everyone you meet is fighting a battle you know nothing about. Be kind, always </li> 

  <li>If you feel like your question is too basic, it's entirely likely that someone else had the same question, so please ask it. If you feel like someone else's question is too basic, remember the time that you had a question like that, and do your best to explain the answer in a way that's helpful for everyone. Be kind, always.</li>

    <li>我发现自己想要一直坚持每天做一个事情不是很容易的事情，要么找一个小伙伴一起做，要么就找一个东西可以很容易的接下去（及时反馈非常重要，强化学习的概念）</li>
    </ul>

<h4>Recent Highlights</h4>
{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}


