---
layout: default
title: Junyi Li
picture: lijunyi
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>Junyi Li</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        <a href="https://en.wikipedia.org/wiki/Reader_(academic_rank)">NLP researcher</a><br/>
        <a href="http://www.ilcc.inf.ed.ac.uk/">Institute of Artificial technology</a><br/>
        <a href="http://www.ed.ac.uk/schools-departments/informatics/">Wangjing international research center</a><br/>
        <a href="http://www.ed.ac.uk/home">Meituan-dianping</a><br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:ljyduke@gmail.com"><span class="glyphicon glyphicon-envelope"></span></a>Email<br/>
      <a href="tel:+86-13603542466"><span class="glyphicon glyphicon-phone"></span>+86 13603542466</a><br/>
      <a href="https://www.linkedin.com/in/%E4%BF%8A%E6%AF%85junyi-%E6%9D%8Eli-297465132/" target="_blank">Linkedin</a><br/>

      <!-- <a href="http://scholar.google.com/citations?user=u4sxKZwAAAAJ">
        <img src="img/ico/gs.png" alt=""/>
      </a> Google Scholar<br/> -->
      <a href="http://github.com/dukeenglish">
        <img src="img/ico/github_icon.png" alt=""/> http://github.com/dukeenglish
      </a> 
    </div>
  </div>
</div>

<p>
I just graduated from the univerisity and I am going to work at meituan-dianping (美团点评)
</p>

<div id="content">
  <h4>Current state</h4>
    <ul>  
    <li>翻译校对审阅Deeplearning.ai的机器学习课程</li>
  <li>想法：可以试着整理一份文字材料为ML课程，有木有小伙伴愿意一起来做。建立一份中文版本的</li>
  <li>其实没有谁能够为你出主意，我也没有兴趣听你对我指手划脚，除非你真的很了解我。我来请教你，或者有幸有人来询问我的意见，只想知道每个人对自己的事情进行规划。如果更好的能够告诉我个人是基于什么原则或者基于什么样的考量来作出每一个决策，那是更好的。我想要的就是每个人光鲜亮丽的背后，那一份最普通的，最直接的优化目标和优化算法</li>
  <li>无论对错，一定要有决策。解释一下，就是给个DDL，到时间就定了，别拖着</li>
  <li>学会死亡，你就学会活着---最后14堂星期二的课</li>
        <li>人这一生只能成为一种人，因为你只能活一次</li>
  <li>Be calm. Please.</li>
    </ul>

    <div id="content">
  <h4>Thoughts</h4>
    <ul>
    <li>Everyone you meet is fighting a battle you know nothing about. Be kind, always </li> 
  <li>If you feel like your question is too basic, it's entirely likely that someone else had the same question, so please ask it. If you feel like someone else's question is too basic, remember the time that you had a question like that, and do your best to explain the answer in a way that's helpful for everyone. Be kind, always.</li>
    <li>我发现自己想要一直坚持每天做一个事情不是很容易的事情，要么找一个小伙伴一起做，要么就找一个东西可以很容易的接下去</li>
    </ul>

<h4>Recent Highlights</h4>
{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}


