{% if site.twitter %}
  <a href="https://twitter.com/{{ site.twitter }}" class="sidebar-social-icon twitter" target="_blank"></a>
{% endif %}

{% if site.weibo %}
  <a href="http://www.weibo.com/{{ site.weibo }}" class="sidebar-social-icon weibo" target="_blank"></a>
{% endif %}

{% if site.github %}
  <a href="https://github.com/{{ https://github.com/DukeEnglish}}" class="sidebar-social-icon github" target="_blank"></a>
{% endif %}

{% if site.codepen %}
  <a href="http://codepen.io/{{ site.codepen }}" class="sidebar-social-icon codepen" target="_blank"></a>
{% endif %}

{% if site.dribbble %}
  <a href="https://dribbble.com/{{ site.dribbble }}" class="sidebar-social-icon dribbble" target="_blank"></a>
{% endif %}

 <a href="https://www.linkedin.com/in/%E4%BF%8A%E6%AF%85junyi-%E6%9D%8Eli-297465132/" class="sidebar-social-icon linkedin" target="_blank"></a>

